<% content_for :title, "Home | The Wall" %>

<div>
    <h1>Home</h1>

    <a href="logout">Sign Out</a>

<%# DISPLAY ERROR OR MESSAGE FOR MESSAGE FORM %>
<% if flash[:error] %>
    <% for i in 0..flash[:error].length() %>
    <p><%= flash[:error][i] %></p>
    <% end %>
<% elsif flash[:message] %>
    <p><%= flash[:message] %></p>
<% end %>

    <form action="/messages" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <h2>Write something:</h2>
        <textarea name="message[message]"></textarea>
        <input type="submit">
    </form>

<% @messages.each do | message | %>
    <div style="margin-left: 30px">
        <h3><%= message.user.first_name %></h3>
        <p><%= message["message"] %><p>
    <% if message["user_id"] == session[:user_id] %>
        <a href="/messages/<%= message['id'] %>" data-method="delete">Delete this message</a>
    <% end %>

        <div style="margin-left: 30px">
            <div>
    <% message.comments.each do |comment| %>
                <h4><%= comment.user.first_name %><h4>
                <p><%= comment["comment"] %><p>
        <% if comment["user_id"] == session[:user_id] %>
                <a href="/comments/<%= message['id'] %>" data-method="delete">Delete this comment</a>
        <% end %>
    <% end %>
            </div>
            <form action="/comments" method="POST">
    <%# DISPLAY ERROR OR MESSAGE FOR MESSAGE FORM %>
    <% if flash[:comments_error] %>
        <% for i in 0..flash[:comments_error].length() %>
                <p><%= flash[:comments_error][i] %></p>
        <% end %>
    <% elsif flash[:comments_message] %>
                <p><%= flash[:comments_message] %></p>
    <% end %>
                <h5>Write a comment for this message:</h5>
                
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="comment[message_id]" value="<%= message['id'] %>">
                <textarea name="comment[comment]"></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
<% end %>
</div>